<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="FoxyChanger.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <applicationSettings>
        <FoxyChanger.Properties.Settings>
            <setting name="PROXY_IP" serializeAs="String">
                <value>192.168.1.18</value>
            </setting>
            <setting name="PROXY_PORT" serializeAs="String">
                <value>8080</value>
            </setting>
            <setting name="HOME_WIFI_SSID" serializeAs="String">
                <value>SNOW</value>
            </setting>
            <setting name="ENABLE_AUTO_DETECT" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CLEAR_SERVER_WHEN_DISABLE" serializeAs="String">
                <value>False</value>
            </setting>
        </FoxyChanger.Properties.Settings>
    </applicationSettings>
</configuration>